<server>
  <server_options>
    <address>0.0.0.0</address>
    <port>8888</port>
  </server_options>
  <database_options>
    <driver_class>com.mysql.jdbc.Driver</driver_class>
    <url>jdbc:mysql://localhost/server_load</url>
    <user>root</user>
    <password>root</password>
    <max_pool_size>30</max_pool_size>
  </database_options>
  <deployment_options>

  </deployment_options>
  <vertx_options>

  </vertx_options>
</server>